:root {
    --main-accent-color: #6DB618;
}

body {
    background-color: #FFFFFF;
    color: #2C2C2C;
    font: normal 100% Georgia, serif;
    margin: 0;
}

.main-logo-text,
.mini-logo-text,
.welcome-text,
.main-part-item-text-title,
.introduction-text {
    font-family: "Ubuntu", sans-serif;
}

.subwelcome-text,
.main-part-item-text-subtitle {
    font-family: "Open Sans", sans-serif;
}

#page {
    width: 90%;
    margin: 0.05em auto;
    max-width: 1250px;
    min-height: 100%;
}

a {
    text-decoration: none;
    color: #2C2C2C;
}

img {
    max-width: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
}

.nav-element {
    font-weight: bold;
}

.nav-element:hover {
    color: var(--main-accent-color);
}

.nav-element:link {
    color: #2C2C2C;
}

.top-page-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
}

.top-page-part .logo-text {
    flex: 0 0 auto;
}

.top-page-part .link-list {
    flex: 0 0 auto;
}

.top-page-part-sub-menu {
    display: none;
}

nav {
    display: flex;
    gap: 15px;
}

.logo-icon {
    width: 10%;
}

.logo {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    width: 94%;
}

.mini-logo-text {
    margin: 0 0 0 0;
}

.main-logo-text {
    font-size: 2.8em;
    margin: 0 0 0 0;
}

.mini-text {
    flex: 0 0 auto;
    margin: 0;
    font-size: 0.75em;
    font-weight: bold;
}

.welcome-part {
    width: 93, 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5% 0 1.5% 0;
}

.welcome-part .welcome-part-image {
    float: left;
    width: 49%;
}

.welcome-part-text {
    float: right;
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.welcome-part .introduction-text {
    text-decoration: underline;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.welcome-text {
    width: 100%;
    font-size: 2.1em;
    margin: 0;
}

.more-info-link {
    color: var(--main-accent-color);
    font-weight: bold;
}

.main-part-item-link-project:hover #project-nav {
    text-decoration: underline;
}

.main-part-item-link-photo:hover #photo-nav {
    text-decoration: underline;
}

.main-part-item-link-links:hover #links-nav {
    text-decoration: underline;
}

.main-part-item-link-ideas:hover #ideas-nav {
    text-decoration: underline;
}

.footer-page-part {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
}

.footer-page-part-content {
    display: flex;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;

}

svg {
    fill: var(--main-accent-color);
    width: 2em;
}

svg:hover {
    fill: #3b630e;
    width: 2em;
}


.footer-page-part-social-media {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.footer-page-part-social-media-images {}

.footer-page-part-logo-text {
    margin: 1em 0;
}

.footer-mini-text {
    flex: 0 0 auto;
    margin: 0;
    font-size: 0.75em;
    font-weight: bold;
}

.media-widget {
    display: flex;
}

.video-main {
    width: 100%;
    height: 100%;
    border: none;

}

/* About Page : Start */

.middle-page-part-about {
    font-family: "Ubuntu", sans-serif;
}

@media screen and (min-width: 750px) {

    /* Concrete Part : Start */
    .middle-page-part-about {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: start;
        margin: 0 0 7em 0;
    }

    .middle-page-part-about-concrete-section {
        font-size: 1.4em;
        font-weight: bold;
        margin: 1em 0 0.5em 0;
    }

    .middle-page-part-about-concrete-interest-icon {
        width: 2.5em;
    }

    .middle-page-part-about-concrete-interest-language {
        width: 0.9em;

    }

    .middle-page-part-about-concrete-lang-lvl {
        margin: 0 0 0.5em 0;
        font-weight: bold;
        color: #6DB618;
    }

    .middle-page-part-about-concrete-lang {
        margin: 0 0 0 0;
    }

    .middle-page-part-about-concrete-work-place-title {
        font-size: 1.3em;
        color: var(--main-accent-color);
        font-weight: bold;
        margin: 0;
    }

    .middle-page-part-about-concrete-work-place-years {
        margin: 0;
    }

    .middle-page-part-about-concrete-work-place-description {
        margin: 0;
    }

    .middle-page-part-about-concrete-work-position {
        margin: 0 0 1em 0;
        font-weight: bold;
    }

    /* Concrete Part : End */

    /* General Part : Start */
    .middle-page-part-about-general {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .middle-page-part-about-general-name {
        margin: 0;
    }

    .middle-page-part-about-general-description {
        text-align: center;
        margin: 0;
        margin: 1em 0 0 0;
    }

    .middle-page-part-about-general-interests {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .middle-page-part-about-general-section {
        font-size: 1.4em;
        font-weight: bold;
        margin: 1em 0 0.5em 0;
        text-align: center;
    }

    .middle-page-part-about-general-study-and-work-title {
        font-size: 1.3em;
        color: var(--main-accent-color);
        font-weight: bold;
        margin: 1em 0 0 0;
        text-align: center;
    }

    .middle-page-part-about-general-study-and-work-place-title {
        margin: 0 0 0 0;
        color: var(--main-accent-color);
        font-weight: bold;
        text-align: center;
    }

    .middle-page-part-about-general-study-and-work-place-years {
        margin: 0;
        text-align: center;
    }

    .middle-page-part-about-general-study-and-work-place-description {
        margin: 0;
        text-align: center;
        margin: 0 0 1em 0;
    }

    .middle-page-part-about-general-study-and-work-position {
        margin: 0 0 1em 0;
        text-align: center;
        font-weight: bold;
    }

    /* General Part : End */
}

@media screen and (max-width: 750px) {
    .middle-page-part-about {
        display: flex;
        flex-direction: column;
    }

    .middle-page-part-about-concrete {
        order: 1;
    }

    .middle-page-part-about-concrete-interest-icon {
        width: 2.5em;
    }

    .middle-page-part-about-general-photo {
        max-height: 0;
    }

    .middle-page-part-about-general-name {
        margin: 0;
    }

    .middle-page-part-about-general-section {
        font-size: 1.4em;
        font-weight: bold;
        margin: 1em 0 0.5em 0;
    }

    .middle-page-part-about-general-study-and-work-place-title {
        margin: 0 0 0 0;
        color: var(--main-accent-color);
        font-weight: bold;
    }

    .middle-page-part-about-general-study-and-work-place-years {
        margin: 0;
    }

    .middle-page-part-about-general-study-and-work-place-description {
        margin: 0;
        margin: 0 0 1em 0;
    }

    .middle-page-part-about-general-study-and-work-position {
        margin: 0 0 1em 0;
        font-weight: bold;
    }

    .middle-page-part-about-concrete-section {
        font-size: 1.4em;
        font-weight: bold;
        margin: 1em 0 0.5em 0;
    }

    .middle-page-part-about-concrete-work-place-title {
        font-size: 1.3em;
        color: var(--main-accent-color);
        font-weight: bold;
        margin: 0;
    }

    .middle-page-part-about-concrete-work-place-years {
        margin: 0;
    }

    .middle-page-part-about-concrete-work-place-description {
        margin: 0;
    }

    .middle-page-part-about-concrete-work-position {
        margin: 0 0 1em 0;
        font-weight: bold;
    }

    .middle-page-part-about-concrete-lang-lvl {
        margin: 0 0 0.5em 0;
        font-weight: bold;
        color: #6DB618;
    }

    .middle-page-part-about-concrete-lang {
        margin: 0 0 0 0;
    }
}
/* About Page : End */

@media screen and (max-width: 1024px) {
    .welcome-text {
        width: 100%;
        font-size: 1.5em;
        margin: 0;
    }
}

@media screen and (min-width: 750px) {
    .main-part {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 0 1.5% 0;
    }

    .main-part-item {
        flex: 1 1 24%;
        box-sizing: border-box;

    }

    #menu-nav {
        display: none;
    }

    .main-part-item-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main-part-item-image-container {
        width: 96%;
        padding-top: 75%;
        position: relative;
    }

    .main-part-item-text {
        display: flex;
        flex-direction: column;
        width: 96%;
    }

    .main-part-item-text-title {
        margin: 3.5% 0 0 0;
    }

    .main-part-item-text-subtitle {
        margin: 3% 0 0 0;
    }
}

@media screen and (max-width: 750px) {
    #home-nav {
        display: none;
    }

    #about-nav {
        display: none;
    }

    #projects-nav {
        display: none;
    }

    #link-nav {
        display: none;
    }

    .link-list {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .main-logo-text {
        font-size: 2em;
        margin: 0;
        padding: 0;
    }

    .mini-text {
        visibility: collapse;
    }

    .top-page-part {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100%;
    }

    #nav-menu {
        float: right;
    }

    nav {
        display: flex;
        justify-content: end;
        width: 1em;
    }

    .main-part {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .main-part-item {
        flex: 1 1 24%;
    }

    .main-part-item-image-container {
        width: 100%;
    }

    .main-part-item-image {
        width: 100%;
        height: 6em;
        object-fit: cover;
    }

    .main-part-item-text {
        width: 100%;
    }

    .main-part-item-text-title {
        margin: 1% 0 0 0;
    }

    .main-part-item-text-subtitle {
        margin: 0 0 3.5% 0;
    }

    .welcome-part {
        width: 93, 75%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 1.5% 0 5% 0;
    }

    .welcome-part .welcome-part-image {
        width: 100%;
    }

    .welcome-part-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 1.5% 0 0 0;

    }

    .subwelcome-text {
        margin: 1% 0;
    }
}