#middle-page-part {
    font-family: "Ubuntu", sans-serif;
}

.category {
    margin: 20px 0;
}
.category h2 {
    border-radius: 4px;
}
.category ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}
.category li {
    padding: 10px;
    box-shadow: 0 1px rgba(0,0,0,0.1);
}
.category a {
    color: var(--main-accent-color);
    font-weight: bold;
}
.category a:hover {
    text-decoration: underline;
}